<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZpUzD4aMC83pYplCamkMyvw8uW5PHc4A</string>
	<key>GCM_SENDER_ID</key>
	<string>53211156869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gdsc.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gdsc-9141d</string>
	<key>STORAGE_BUCKET</key>
	<string>gdsc-9141d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53211156869:ios:c48f46a85c84ae61ae34ec</string>
</dict>
</plist>